<mat-list role="list">
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="async-pipe-creation" mat-button>Async pipe creation</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="multiple-async-pipes" mat-button>Multiple async pipes - wrong</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="single-async-pipe" mat-button>Multiple async pipes - right</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="async-pipe-destruction" mat-button>Async pipe destruction</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="async-pipe-combine" mat-button>[Advanced] Async pipe combine</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="async-pipe-reassignment" mat-button>[Advanced] Async pipe reassignment</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="async-pipe-onpush" mat-button>[Advanced] Optimize async pipe - OnPush</a></mat-list-item>
</mat-list>