<mat-list role="list">
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="fire-and-forget" mat-button>HttpClient memory leak example</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="unsubscribe" mat-button>this.subscription.unsubscribe()</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="aggregate-subscriptions" mat-button>Subscription.add</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="auto-unsubscrbe-package" mat-button>AutoUnsubscribe</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="until-destroyes-package" mat-button>untilDestroyed</a></mat-list-item>
    <mat-list-item role="listitem"><a class="full-width align-left" routerLink="ng-on-destroy-package" mat-button>NgOnDestroy</a></mat-list-item>
</mat-list>
