<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z4 page-header">
    <a mat-button routerLink="/">
      <mat-icon>school</mat-icon> &nbsp; FCM Tutorials
    </a>
    <div style="flex: 1 1 auto;"></div>
    <a mat-icon-button href="https://github.com/mateusz-bryll/angular-11072019">
      <mat-icon svgIcon="github_icon"></mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="courses">
    <nav mat-tab-nav-bar backgroundColor="primary">
      <a class="nav-link" mat-tab-link routerLink="/courses/rxjs-overview" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">RxJS Overview</a>
      <a class="nav-link" mat-tab-link routerLink="/courses/async-pipe" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Async Pipe</a>
      <a class="nav-link" mat-tab-link routerLink="/courses/subscription-management" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">Subscription Management</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
